@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hurricane&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #004;
  color: #fff;
  line-height: 1.6;
}

header {
  width: 100%;
  margin-bottom: 1rem;
  padding: 20px 0;
}

.loading {
  text-align: center;
  margin-top: 100px;
}

.walker {
  font-family: 'Hurricane', serif;
  color: white;
}

.header-content {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.country-header {
  padding-bottom: 10px;
  color: #f64c72;
}

.country-search {
  text-transform: capitalize;
  height: 2.5rem;
  width: 20rem;
  padding-left: 0.5rem;
  border-radius: 5px;
}

.cards {
  width: 70%;
  display: grid;
  grid-template-columns: 400px;
  grid-gap: 1rem;
  margin: 0 auto;
  justify-content: center;
}

.card {
  cursor: pointer;
  background-color: none;
  height: 300px;
  perspective: 1000px;
}

.card, 
.card img,
.card-back {
  border-radius: 20px;
}

.card h1 {
  font-size: 25px;
  border-bottom: 1px #fff solid;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-back {
  background-color: white;
  padding: 20px;
  transform: rotateY(180deg);
  line-height: 35px;
}

.map-link {
  text-decoration: none;
  text-transform: uppercase;
}

.map-link:hover {
  color: darkmagenta;
}

.card-back,
.map-link {
  color: #99738e;
}

.card-back h1 {
  text-align: center;
}

.list-header {
  display: inline;
}

.list-item {
  list-style: none;
  display: inline;
}

@media (min-width: 850px) {
  .cards {
    width: 90%;
    grid-template-columns: repeat(2, 400px);
  }
}

@media (min-width: 950px) {
  .header-content {
    flex-direction: row;
  }  

  .country-header {
    padding-bottom: 0;
  }
}

@media (min-width: 1300px) {
  .cards {
    grid-template-columns: repeat(3, 400px);
  }
}

@media (min-width: 1700px) {
  .cards {
    grid-template-columns: repeat(4, 400px);
  }
}