@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hurricane&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: white;
  line-height: 1.6;
}

header {
  height: 1600px;
  width: 100%;
  margin-bottom: 1rem;
  padding: 20px 0;
  background-image: url('./images/skyline.jpg');
  background-size: cover;
}

.loading {
  text-align: center;
  margin-top: 100px;
  color: white;
}

.walker {
  font-family: 'Hurricane', serif;
  color: white;
}

.header-content {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.country-header {
  padding-bottom: 10px;
  color: #f64c72;
}

.country-search {
  text-transform: capitalize;
  color: white;
  height: 2.5rem;
  width: 20rem;
  padding-left: 0.5rem;
  border: 1px solid #f64c72;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: solid;
  background-color: #000;
}

::placeholder {
  color: white;
}

.country-search:focus {
  outline: none;
  -webkit-animation: breathing 3s ease-out infinite normal;
  animation: breathing 3s ease-out infinite normal;
}

@-webkit-keyframes breathing {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  25% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }

  60% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes breathing {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  25% {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
  }

  60% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}


.cards {
  width: 70%;
  display: grid;
  grid-template-columns: 400px;
  grid-gap: 3rem;
  margin: -1450px auto 0;
  justify-content: center;
}

.card {
  background-color: none;
  height: 300px;
  perspective: 1000px;
}

.card-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-div p {
  margin-top: 5px;
}

.card, 
.card-front,
.card-back,
.card img {
  border-radius: 50px;
}

.card h1 {
  font-size: 30px;
  padding-bottom: 10px;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  border: white 3px solid;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-front {
  padding: 10px;
  background-color: rgba(255,255, 255, 0.2);
}

.card-back {
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.9);
  transform: rotateY(180deg);
  line-height: 35px;
}

.map-link {
  text-decoration: none;
  text-transform: uppercase;
}

.map-link:hover {
  color: #f64c72;
}

.card-back,
.map-link {
  color: white;
}

.card-back h1 {
  text-align: center;
}

.list-header {
  display: inline;
}

.list-item {
  list-style: none;
  display: inline;
}

.card-back p {
  color: #f64c72;
}

.load {
  padding: 10px;
  border-radius: 5px;
  font-size: 20px;
  color: white;
  border: 2px solid #f64c72;
  background: none;
  cursor: pointer;
}

.load:hover {
  background-color: rgba(246, 76, 114, 0.2);
  -webkit-animation: breathing 3s ease-out infinite normal;
  animation: breathing 3s ease-out infinite normal;
}

@media (min-width: 850px) {
  .cards {
    width: 90%;
    grid-template-columns: repeat(2, 400px);
  }
}

@media (min-width: 950px) {
  .header-content {
    flex-direction: row;
  } 

  .country-header {
    padding-bottom: 0;
  }
}

@media (min-width: 1300px) {
  .cards {
    grid-template-columns: repeat(3, 400px);
  }
}

@media (min-width: 1700px) {
  .cards {
    grid-template-columns: repeat(4, 1fr);
  }
}